*{
    padding: 0;
    margin: 0;
}
body{
    background-color: antiquewhite;
}
nav{
    background: #000;
}
ul{
   display: flex; 
   align-items: center;
   

}
ul li{
    padding: 8px 14px;
    color: white;
    list-style: none;
    align-items: center;
    font-size: 26px;
    font-weight: bolder;
 
 
 }
  img{
    width: 42px;
   
 }
 .brand img{
    
    display: flex;
    align-items: center;
 }
 .spot{
    font-size: 12px;
 }
 .container{
    min-height: 65vh;
    background: #000;
    color: white;
    margin: 23px auto;
    width: 64%;
    border-radius: 13px;
    background-image: url('bg.png');
    padding: 6px 13px ;
    /* margin-bottom: 23px; */
 }
 .bottom{
    background-color: #000;
    color: white;
    height: 100px;
    position: sticky;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 #progressBar{
   width: 80vw;
 }
 .icon{
   margin-top: 14px;
   cursor: pointer;
 }
 .song{
   margin: 28px 0px;
 }
 .songItem{
   display: flex;
   height: 45px;
   background-color: white;
   color: black;
   width: 50%;
   margin: 14px 0px;
   justify-content: space-between;
   align-items: center;
   border-radius: 40px;
   padding: 0px 19px;
 }
 .songItem img{
   width: 34px;
   
 }
 .timeStamp{
   margin: 23px 0px;
   cursor: pointer;
 }
 .songInfo{
  position: absolute;
  left: 10vw;
 
 }
 .songInfo img{
  opacity: 0;
  transition: opacity 0.4s ease-in ;
 
 }